<h3>Ajout d'un utilisateur {{test}}</h3>

<p>Prénom: <input type="text" ng-model="user.name"><br>
Nom: <input type="text" ng-model="user.surname"><br>
addresse mail: <input type="text" ng-model="user.email"><br>
site internet: <input type="text" ng-model="user.website"><br>
  <button ng-click="function()">Go</button><br></p>

  <h3>Ajout d'un projet</h3>
<p>
  Title: <input type="text" ng-model="project.title"><br>
  description: <input type="text" ng-model="project.description"><br>
  Année: <input type="text" ng-model="project.year"><br>
  <button ng-click="ajouterprojet()">Go</button><br></p>
</p>

